[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "==6.0.2"
feedparser = "==6.0.11"
schedule = "==1.2.2"
python-dateutil = "==2.9.0.post0"

[dev-packages]

[requires]
python_version = "3.12"
